<div class="pure-g">
  <div class="pure-u-3-4">
    <form action="/setting" method="post" class="pure-form pure-form-stacked">
      <h3>设置基础信息</h3>
      <label for="name">网站名称</label>
      <input type="text" name="setting[name]" value="6eta">

      <button type="submit" class="pure-button pure-button-primary">save</button>
    </form>
  </div>
</div>
